* {
    color:red;
}

h1 {
    color:rosybrown;
}

.blue {
    color: blue;

}

.pink {
    color: pink;
}

.bold {
    font-weight: bold;
}
#green {
    color:green;
}

h5 {
    width: 50%;
}

div {
    width: 50%;
}

h4{
    color:#
}